= simple_form_for @comment, url: url, :html => { :class => 'form-horizontal' } do |f|
  .field
    = f.text_area :content, placeholder: "Compose new micropost..."
  = f.submit "Post", class: "btn btn-primary"
