- followed = @user || @interrelationship.followed
= form_for(current_user.active_interrelationships.find_by(followed_id: followed.id),
                                  html: { method: :delete }, remote: true) do |f|
  = f.submit "Unfollow", class: "btn btn-primary"
