<%- model_class = Album -%>
<div class="page-header">

</div>

<dl class="dl-horizontal">
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_user_album_photo_path(@user, @album), :class => 'btn btn-primary' %>
  <ol class="photo">
    <%= render @photos %>
  </ol>
</dl>
