<%- model_class = Photo -%>
<div class="col-md-6 photo_description">
  <div class="photo_container">
    <a href=<%= user_album_photo_path(@user, @album, photo) %> , remote: true >
      <img src = <%= photo.image.thumb %> />
    </a>
    <dd><%= photo.description %></dd>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")), user_album_photo_path(@user, @album, photo), :method => :delete,
      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
      :class => 'btn btn-xs btn-danger' %>

  </div>
</div>
